# The following files and directories should be ignored:

# Model weights
*.h5
*.pth
*.ckpt

# Uploads
/uploads/

# Frontend node_modules
/frontend/node_modules/

# Other ML project files
*.pkl
*.joblib
*.csv
